In [2]:
import pandas as pd

df = pd.read_csv('../../media/development/test.csv')
df['Date'] = pd.to_datetime(df['Date'])
df.dtypes
df.columns

Index(['Location', 'Date', 'As', 'Ba', 'HCO3', 'Cd', 'Ca', 'CO3', 'Cl', 'Cr',
       'Co', 'Conductivity (mS/cm)', 'Cu', 'EC', 'Flow (m3/s)', 'F',
       'Free Cyanide (mg/L)', 'Hydroxide Alkalinity as CaCO3 (mg/L)', 'Fe',
       'Pb', 'Mg', 'Mn', 'Hg', 'Ni', 'Oxidation Reduction Potential (mV)',
       'pH', 'K', 'P', 'Se', 'Ag', 'Na',
       'Sulfate as SO4 - Turbidimetric (Dissolved)  (mg/L)', 'SO4',
       'Suspended Solids (SS) (mg/L)', 'Temperature (?C)', 'Sn',
       'Weak Acid Dissociable Cyanide (mg/L)', 'Zn', 'Total Alkalinity',
       'Sulfate as SO4  Turbidimetric (mg/L)', 'Year', 'Month'],
      dtype='object')

In [27]:
# BAR
from typing import List

def x_y_aggregation(df: pd.DataFrame, x: List[str], y: List[str], aggregation: str):
    if aggregation == 'last':
        return last_date(df, x).set_index(*x)[[*y]]
    return df.groupby(x).agg(aggregation)[[*y]]

def last_date(df: pd.DataFrame, groupby: List[str]):
    return df.iloc[df.groupby(groupby).agg({'Date': 'idxmax'}).Date]

aggregation_types = ['Last', 'Max', 'Min', 'Mean', 'Median']   
categorical_x = ['Location', 'Date', 'Year', 'Month']
x = 'Location'
y = 'Ca'
agg = aggregation_types[-1]
x_y_aggregation(df, [x], [y], agg.lower())

                             Ca
Location
Alexandria                 52.0
Bromley                   170.0
Bull Creek                 77.5
Canberra                   79.5
Endor                     190.0
Freo                       48.0
Hilltop                   117.0
Hong Kong 4               112.0
Kingdom                    77.5
Kings Landing 1           124.0
Kings Landing 2           109.5
Mordor                     63.0
Number 10 Downing Street   84.5
Risa                      143.0
Tatooine                   53.0
The Shire                 196.5
The White House           319.0
UWA                        41.0
Winterfell                 39.0
Winterfell 2               45.0

In [17]:
# SCATTER
def x_y(df: pd.DataFrame, x: str, y: str):
    tmp = df[df[y].notna()]
    return tmp[tmp[y].notna()][[x,y]]

x = 'As'
y = 'Ba'
x_y(df, x, y)

          As     Ba
1275  0.0005  0.068
1278  0.0005  0.073
1291  0.1020  0.116
1292  0.0040  0.032
1293  0.1320  0.124
...      ...    ...
2082  0.0800  0.020
2084  0.0010  0.011
2090  0.0160  0.038
2091  0.0220  0.055
2093  0.0080  0.031

[606 rows x 2 columns]